body {
	font-family: 'Catamaran', sans-serif;
}

.portfolio-name {
	float: right;
}
.udacity-logo {
	float: left;
	position: relative;
}

.page-header:after {
	content: '';
	display: block;
	clear: both;
}

.main-image img {
	width: 100%;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

figure {
	text-align: center;
} 